body > div.reveal:after {
  content: 'chat: devict.slack.com';
  font-style: normal;
  position: absolute;
  bottom: 10px;
  left: 10px;
}

.reveal section img[alt=devICT],
.reveal section img[alt=MakeICT] {
  border: 0;
  box-shadow: none;
}
